<div class="container">
    <form method="post" action="/produto">
        <div class="mb-3">
            <label for="id-input-id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id-input-id" value="#" disabled>
        </div>
        <div class="mb-3">
            <label for="id-input-numero" class="form-label">Número</label>
            <input type="number" class="form-control" id="id-input-numero"
                placeholder="Digite um número para o produto. Ex: 1" name="numero" required>
        </div>
        <div class="mb-3">
            <label for="id-input-nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="id-input-nome"
                placeholder="Digite o nome para o produto. Ex: Pepperoni" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="id-input-preco" class="form-label">Preço</label>
            <input type="number" class="form-control" id="id-input-preco"
                placeholder="Digite um preço para o produto. Ex: 50.50" name="preco" step=".01" required>
        </div>
        <div class="mb-3">
            <label for="id-select-tipo">Tipo</label>
            <select class="form-select" id="id-select-tipo" name="TipoProduto_id">
                {{#each tipoProdutos}}
                <option value="{{this.id}}">{{this.descricao}}</option>
                {{/each }}
            </select>
        </div>
        <div class="mb-3">
            <label for="id-input-ingredientes" class="form-label">Ingredientes</label>
            <input type="text" class="form-control" id="id-input-ingredientes"
                placeholder="Digite os ingredientes para o produto. Ex: Massa de pizza, molho de tomate, etc..."
                name="ingredientes" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/produto" class="btn btn-primary">Voltar</a>
    </form>
</div>